<footer>
    <div class="content-padding">

        <div class="footer-content">

            <p>Copyright &copy; Aria Eslami</p>

                <div class="social-media-icons">
                    <a href="/About-Galactic-Empire"><i class="fa fa-empire"></i></a>
                    <a href="/About-Jedi"><i class="fa fa-rebel">

                        </i></a>
                </div>

        </div>

    </div>
</footer>